<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <form action="/logfile" method="post">
        <div class="md-form md-outline d-flex justify-content-between align-items-center">
            <input type="text" id="search12" class="form-control mb-0" placeholder="Search by name..." name="search">
            <label for="search12">Search</label>
            <button class="btn btn-flat btn-md px-3 waves-effect" type="submit"><i class="fas fa-search fa-lg"></i></button>
        </div>
    </form>
</nav>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">User ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Shipping address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order,iterStat : ${orderList}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${order.date}"></td>

        <div th:each="user : ${userList}">
            <div th:if="${user.getId() == order.userId}">
                <td th:text="${user.getLastName() + ' ' + user.getFirstName()}"></td>
            </div>
        </div>

        <div th:each="prod : ${productList}">
            <div th:if="${prod.getId() == order.productId}">
                <td th:text="${prod.getName()}"></td>
            </div>
        </div>

        <td th:text="${order.quantity}"></td>


        <div th:each="user : ${userList}">
            <div th:if="${user.getId() == order.userId}">
                <td th:text="${user.getAddress() + ', ' + user.getTown() + ', ' + user.getPostcode() + ', ' + user.getCountry()}"></td>
            </div>
        </div>

        <td><button>Edit</button></td>

    </tr>
    </tbody>
</table>


</body>
</html>