<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <script src="/static/js/main.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-light">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="waves-effect" th:href="@{/index}">Home</a></li>
    </ol>

    <div class="collapse navbar-collapse" id="basicExampleNav11">

        <!-- Right -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#!" class="nav-link navbar-link-2 waves-effect">
                    <span class="badge badge-pill red">1</span>
                    <i class="fas fa-shopping-cart pl-0"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    <i class="united kingdom flag m-0"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#!">Action</a>
                    <a class="dropdown-item" href="#!">Another action</a>
                    <a class="dropdown-item" href="#!">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    Shop
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="#!" class="nav-link waves-effect">
                    Sign in
                </a>
            </li>
            <li class="nav-item pl-2 mb-2 mb-md-0">
                <a href="#!" type="button"
                   class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign up</a>
            </li>
        </ul>

    </div>

</nav>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Price per unit</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${cart}">
        <th scope="row">1</th>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td><div>
            <div class="def-number-input number-input safari_only mb-0 w-100">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus decrease">-</button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus increase">+</button>
            </div>
        </div></td>
        <td>Total price : </td>
    </tr>
    </tbody>
</table>




<div class="col-lg-4">
<div class="mb-3">
    <div class="pt-4">
<h5 class="mb-3">The total amount of</h5>

<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
        Temporary amount
        <span>$25.98</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
        Shipping
        <span>Gratis</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
        <div>
            <strong>The total amount of</strong>
            <strong>
                <p class="mb-0">(including VAT)</p>
            </strong>
        </div>
        <span><strong>$53.98</strong></span>
    </li>
</ul>

        <a th:href="@{/checkout}"><button type="button" class="btn btn-primary btn-block">go to checkout</button></a>
    </div>
</div>
</div>

<div class="mb-3">
    <div class="pt-4">

        <h5 class="mb-4">Expected shipping delivery</h5>

        <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
    </div>
</div>


<div class="mb-3">
    <div class="pt-4">

        <h5 class="mb-4">We accept</h5>

        <img class="mr-2" width="45px"
             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
             alt="Visa">
        <img class="mr-2" width="45px"
             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
             alt="American Express">
        <img class="mr-2" width="45px"
             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
             alt="Mastercard">
        <img class="mr-2" width="45px"
             src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
             alt="PayPal acceptance mark">
    </div>
</div>



<div th:replace="footer.html :: copy"></div>

<!--document.getElementsByClassName("quantity").quantity.value;-->


</body>
</html>